
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    padding: 2rem;
}

.main-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main-image img {
    width: 592px;
    height: 392px;
}

.main-top-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 50%;
}

.main-top-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-top-text p {
    font-size: 1.25rem;
    color: #4a5568;
    margin-bottom: 2rem;
}

.options-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2.5rem;
    gap: 1rem;
}

.option-card {
    background-color: #c2363f;
    color: white;
    padding: 40px 20px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.option-card:hover {
    background-color: #c3656c;
}

@media (min-width: 1024px) {
    .option-card {
        width: 41.6667%;
    }
}

.option-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.option-header i,
.option-header span {
    font-size: 20px;
}

.option-card p {
    margin-top: 1rem;
    font-size: 1rem;
}