<app-navigation></app-navigation>

<main>
    <div class="main-content">
        <div class="main-top-text">
            <h1>Cuộc họp video chất lượng cao. Miễn phí cho mọi người!</h1>
            <p>Chúng tôi tái thiết kế dịch vụ họp bảo mật để mọi người đều có thể sử dụng miễn phí!</p>
        </div>

        <div class="main-image">
            <img src="assets/imgs/undraw_meeting_dunc.png"
                alt="Illustration of a video call with multiple participants" />
        </div>
    </div>

    <div class="main-content">
        <div class="options-container">
            <button class="option-card" data-bs-toggle="modal" data-bs-target="#createMeetingModal">
                <div class="option-header">
                    <i class="fas fa-plus"></i>
                    <span class="font-bold">Tạo cuộc họp mới</span>
                </div>
                <p>Bắt đầu cuộc họp ngay lập tức</p>
            </button>

            <button class="option-card" data-bs-toggle="modal" data-bs-target="#joinMeetingModal">
                <div class="option-header">
                    <i class="fas fa-users"></i>
                    <span class="font-bold">Tham gia cuộc họp</span>
                </div>
                <p>Thông qua mã hoặc liên kết</p>
            </button>


            <button class="option-card" data-bs-toggle="modal" data-bs-target="#scheduleMeetingModal">
                <div class="option-header">
                    <i class="fas fa-calendar-alt"></i>
                    <span class="font-bold">Lên kế hoạch trước</span>
                </div>
                <p>Lên lịch cuộc họp sau</p>
            </button>
        </div>

        <div class="main-image">
            <img src="assets/imgs/undraw_conference-call_ccsp.png"
                alt="Illustration of people having a video meeting" />
        </div>

    </div>
</main>

<!-- Modal for creating a meeting -->
<div class="modal fade" id="createMeetingModal" tabindex="-1" aria-labelledby="createMeetingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 12px;">
            <div class="modal-header" style="background-color: #c2363f; color: white;">
                <h5 class="modal-title" id="createMeetingModalLabel">Tạo cuộc họp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"
                    style="filter: invert(1);"></button>
            </div>
            <form [formGroup]="creatingForm" (ngSubmit)="createRoom()">

                <div class="modal-body">
                    <input type="text" class="form-control border-danger-subtle" formControlName="title"
                        name="meetingTitle" placeholder="Nhập tiêu đề cuộc họp" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        style="color: #c2363f;">Hủy</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                        style="background-color: #c2363f;">Tạo phòng</button>
                </div>
            </form>

        </div>
    </div>
</div>



<!-- Modal for joining a meeting -->
<div class="modal fade" id="joinMeetingModal" tabindex="-1" aria-labelledby="joinMeetingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 12px;">
            <div class="modal-header" style="background-color: #c2363f; color: white;">
                <h5 class="modal-title" id="joinMeetingModalLabel">Nhập mã cuộc họp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"
                    style="filter: invert(1);"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control border-danger-subtle" [(ngModel)]="meetingCode"
                    placeholder="Nhập đường link phòng" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" style="color: #c2363f;">Hủy</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="background-color: #c2363f;"
                    (click)="joinMeeting()">Tham gia</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scheduleMeetingModal" tabindex="-1" aria-labelledby="scheduleMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius: 12px;">
      <div class="modal-header" style="background-color: #c2363f; color: white;">
        <h5 class="modal-title" id="scheduleMeetingModalLabel">Lên lịch cho cuộc họp</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng" style="filter: invert(1);"></button>
      </div>
      <form [formGroup]="scheduleForm" (ngSubmit)="submitSchedule()" *ngIf="scheduleForm">
      <div class="modal-body">
        <!-- Tiêu đề cuộc họp -->
        <div class="mb-3">
          <input type="text" class="form-control border-danger-subtle"placeholder="Tiêu đề cuộc họp" formControlName="title" />
          <div class="text-danger" *ngFor="let vl of validation_messages.title">
            <div class="error-message"
              *ngIf="scheduleForm.get('title').hasError(vl.type) && (scheduleForm.get('title').dirty || scheduleForm.get('title').touched)">
              {{vl.message}}</div>
        </div>
        </div>


        <!-- Email người tham gia -->
        <div class="mb-3">
          <input type="email" class="form-control border-danger-subtle" placeholder="Email người tham gia" formControlName="email" />
          <div class="text-danger" *ngFor="let vl of validation_messages.email">
            <div class="error-message"
              *ngIf="scheduleForm.get('email').hasError(vl.type) && (scheduleForm.get('email').dirty || scheduleForm.get('email').touched)">
              {{vl.message}}</div>
        </div>
        </div>

        <!-- Ngày giờ bắt đầu -->
        <div class="mb-3">
          <input type="datetime-local" class="form-control border-danger-subtle" formControlName="createAt"/>
          <div class="text-danger" *ngFor="let vl of validation_messages.createAt">
            <div class="error-message"
              *ngIf="scheduleForm.get('createAt').hasError(vl.type) && (scheduleForm.get('createAt').dirty || scheduleForm.get('createAt').touched)">
              {{vl.message}}</div>
        </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" style="color: #c2363f;">Hủy</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" style="background-color: #c2363f;">Tạo phòng</button>
      </div>
    </form>
    </div>
  </div>
</div>
