header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-red {
    color: #c2363f;
    font-size: 24px;
}
