<div class="wrap-container">
    <div class="container">
        <div class="form-container">
            <div class="form-header">
                <i class="fas fa-video"></i>
                <h1>Thay đổi mật khẩu</h1>
                <p></p>
            </div>
            <form [formGroup]="resetForm" (ngSubmit)="submitReset()" *ngIf="resetForm">
                <div class="form-group">
                    <input type="password" placeholder="Nhập mật khẩu mới" formControlName="newPassword" />
                </div>
                <div class="text-danger" *ngFor="let vl of validation_messages.newPassword">
                    <div class="error-message"
                      *ngIf="resetForm.get('newPassword').hasError(vl.type) && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                      {{vl.message}}</div>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Nhập lại mật khẩu" formControlName="rePassword" />
                </div>

                <button class="submit-btn" type="submit" [disabled]="isLoading">
                    <span *ngIf="!isLoading">Xác nhận</span>
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span *ngIf="isLoading" class="ms-2">Đang kiểm tra...</span>
                </button>
                <div class="register">
                    <a routerLink="/login">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
