<main>
    <div class="main-content">
        <div class="main-top-text">
            <h1>Cuộc họp video chất lượng cao. Miễn phí cho mọi người!</h1>
            <p>Chúng tôi tái thiết kế dịch vụ họp bảo mật để mọi người đều có thể sử dụng miễn phí!</p>
        </div>

        <div class="main-image">
            <img src="assets/imgs/undraw_meeting_dunc.png"
                alt="Illustration of a video call with multiple participants" />
        </div>
    </div>

    <div class="main-content">
        <div class="options-container">
            <button class="option-card">
                <div class="option-header">
                    <i class="fas fa-plus"></i>
                    <span class="font-bold">Tạo cuộc họp mới</span>
                </div>
                <p>Bắt đầu cuộc họp ngay lập tức</p>
            </button>
            <button class="option-card">
                <div class="option-header">
                    <i class="fas fa-users"></i>
                    <span class="font-bold">Tham gia cuộc họp</span>
                </div>
                <p>Thông qua mã hoặc liên kết</p>
            </button>
            <button class="option-card">
                <div class="option-header">
                    <i class="fas fa-calendar-alt"></i>
                    <span class="font-bold">Lên kế hoạch trước</span>
                </div>
                <p>Lên lịch cuộc họp sau</p>
            </button>
        </div>

        <div class="main-image">
            <img src="assets/imgs/undraw_conference-call_ccsp.png"
                alt="Illustration of people having a video meeting" />
        </div>

    </div>
</main>