<div class="wrap-container">
    <div class="container">
        <div class="form-container">
            <div class="form-header">
                <i class="fas fa-video"></i>
                <h1>Quên mật khẩu</h1>
                <p></p>
            </div>
            <form [formGroup]="formMail" (ngSubmit)="submitForgot()" *ngIf="formMail">
                <div class="form-group">
                    <input type="email" placeholder="Email hoặc tên tài khoản" formControlName="email" />
                </div>
                <div class="text-danger" *ngFor="let vl of validation_messages.email">
                    <div class="error-message"
                      *ngIf="formMail.get('email').hasError(vl.type) && (formMail.get('email').dirty || formMail.get('email').touched)">
                      {{vl.message}}</div>
                </div>

                <button class="submit-btn" type="submit" [disabled]="isLoading">
                    <span *ngIf="!isLoading">Xác nhận</span>
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span *ngIf="isLoading" class="ms-2">Đang kiểm tra...</span>
                </button>
                <div class="register">
                    <a routerLink="/login">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>