<!-- HTML -->
<div class="wrap-container">
    <div class="contact-container">
        <div class="form-section">
            <form class="form">
                <div class="title">Mã OTP</div>
                <div class="title">Nhập Mã Xác Minh</div>
                <p class="message">Chúng tôi đã gửi mã xác minh đến email của bạn</p>
                <div class="inputs">
                    <input id="input1" type="text" maxlength="1">
                    <input id="input2" type="text" maxlength="1">
                    <input id="input3" type="text" maxlength="1">
                    <input id="input4" type="text" maxlength="1">
                </div>
                <button class="action">Xác minh</button>
            </form>
        </div>
    </div>
</div>